# import

In [1]:
# IMPORTS
from distutils.command.config import config
import pickle5 as pickle

# Libraries
import matplotlib.pyplot as plt
import pandas as pd
import wandb
import os
from os.path import exists

# Evaluation
from sklearn.metrics import classification_report, precision_recall_curve, auc, roc_auc_score, \
    accuracy_score, f1_score, recall_score, precision_score, confusion_matrix

import wandb
import glob

# data
import numpy as np
import matplotlib.pyplot as plt

#torch
import torch
import torch.nn as nn
import torch.optim as optim
from torch.optim import lr_scheduler
from torch.utils.data import Dataset, DataLoader
from collections import Counter
from torch.utils.data import WeightedRandomSampler

# Load data

In [8]:
# CURR_PATH = os.getcwd()
CURR_PATH = '/home/svetlanamaslenkova/Documents/AKI_deep/LSTM'
DATA_PATH = '/home/svetlanamaslenkova/Documents/data/physionet.org/files/mimiciv/2.0/'
DF_PATH = CURR_PATH +'/dataframes_2/'
# ED_PATH = DATA_PATH+'physionet.org/files/mimic-iv-ed/1.0/ed/'
PKL_PATH = CURR_PATH+'/pickles_2/'
DF_PATH = CURR_PATH+'/dataframes_2/'
ICU_PATH = DATA_PATH + 'icu/'
HOSP_PATH = DATA_PATH + 'hosp/'
XGB_DATA_PATH = '/home/svetlanamaslenkova/Documents/AKI_deep/xgb/dataframes/'

In [15]:
with open(PKL_PATH + 'multihot_meds_icu_day_0.pkl', 'rb') as f:
    data_medications = pickle.load(f)
print(data_medications.stay_id.unique().shape[0])
data_medications.head()

70205

,subject_id,hadm_id,stay_id,med_ACD-A Citrate (1000ml),med_ACD-A Citrate (500ml),med_Abciximab (Reopro),med_Acetaminophen-IV,med_Acetylcysteine,med_Adenosine,med_Alteplase (TPA),...,med_Ranitidine (Prophylaxis),med_Rocuronium,med_Sodium Bicarbonate 8.4%,med_Thiamine,med_Tirofiban (Aggrastat),med_Treprostinil (Remodulin),med_Vasopressin,med_Vecuronium,med_Verapamil,med_Vitamin K (Phytonadione)
0,10000980,26913865,39765666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,225911.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001217,24597018,37067082,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001217,27703517,34592300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001725,25563031,31205490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001884,26184834,37510196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
with open(PKL_PATH + 'multihot_labs_icu_day_0.pkl', 'rb') as f:
    data_labs = pickle.load(f)
data_labs['stay_id'] = data_labs['stay_id'].astype('int64')
print(data_labs.stay_id.unique().shape[0])
data_labs.head()

75393

,subject_id,hadm_id,stay_id,icu_day_id,first_ALT,first_AST,first_AT (Antithrombin funct),first_Absolute Count - Basos,first_Absolute Count - Eos,first_Absolute Count - Lymphs,...,last_Triglyceride,last_Troponin-T,last_UF Heparin (Anti-Xa),last_Uric Acid,last_Vancomycin (Peak),last_Vancomycin (Random),last_Vancomycin (Trough),last_Venous CO2 Pressure,last_Venous O2 Pressure,last_WBC
0,10000032,29079034,39553978,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10000980,26913865,39765666,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001217,24597018,37067082,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0
3,10001217,27703517,34592300,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4
4,10001725,25563031,31205490,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.1

In [97]:
with open(PKL_PATH + 'multihot_vitals_icu_day_0.pkl', 'rb') as f:
    data_vitals = pickle.load(f)
data_vitals['stay_id'] = data_vitals['stay_id'].astype('int64')
print(data_vitals.stay_id.unique().shape[0])
data_vitals.head()

36841

,subject_id,hadm_id,stay_id,icu_day_id,first_ABPd,first_ABPm,first_ABPs,first_ART BP Diastolic,first_ART BP Mean,first_ART BP Systolic,...,max_Temperature C,max_Temperature F,max_obpd lying,max_obps lying,max_obps sitting,max_obps standing,max_ohr lying,max_ohr sitting,max_ohr standing,max_rhr aar
0,10001884,26184834,37510196,0,NaN,NaN,NaN,NaN,NaN,NaN,...,35.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10002155,23822395,33685454,0,59.0,82.0,115.0,NaN,NaN,NaN,...,NaN,95.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10002155,28994087,31090461,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,96.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10002348,22725460,32610785,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,97.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10002428,20321825,34807493,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,97.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
with open(XGB_DATA_PATH + 'data_output_xgb.pkl', 'rb') as f:
    data_outputs = pickle.load(f)
data_outputs['stay_id'] = data_outputs['stay_id'].astype('int64')
data_outputs = data_outputs[(data_outputs.icu_day_id==0)&(data_outputs.stay_id.isin(stays))]
print(data_outputs.stay_id.unique().shape[0])
data_outputs.head()

14077

abbreviation  subject_id   hadm_id   stay_id  icu_day_id  output
26              10002155  28994087  31090461           0  3260.0
33              10002348  22725460  32610785           0   325.0
42              10002428  23473524  35479615           0  2255.0
53              10002428  28662225  33987268           0   805.0
58              10002428  28662225  38875437           0  1630.0

In [111]:
with open(XGB_DATA_PATH + 'data_medications_xgb.pkl', 'rb') as f:
    data_medications = pickle.load(f)
data_medications['stay_id'] = data_medications['stay_id'].astype('int64')
data_medications = data_medications[(data_medications.stay_id.isin(stays))]
print(data_medications.stay_id.unique().shape[0])
data_medications.head()

14282

    stay_id  M01  B01  C03  C02
2  31090461    0    1    0    0
3  32610785    0    0    0    0
5  35479615    0    1    0    0
6  33987268    0    1    0    0
7  38875437    0    0    0    0

In [90]:
with open(XGB_DATA_PATH + 'data_demographics_xgb.pkl', 'rb') as f:
    data_demographics = pickle.load(f)
data_demographics = data_demographics[data_demographics.stay_id.isin(stays)]
print(data_demographics.stay_id.unique().shape[0])
data_demographics.head()

14281

,subject_id,hadm_id,stay_id,race,gender,age,BMI,Height,Weight,diastolic_bp,systolic_bp
110,10002155,28994087,31090461,1,1,82,21.4,60.0,109.4,51.0,99.0
121,10002348,22725460,32610785,1,1,77,NaN,NaN,NaN,NaN,NaN
123,10002428,23473524,35479615,1,1,81,20.0,59.0,99.0,78.0,131.0
127,10002428,28662225,33987268,1,1,81,20.0,59.0,99.0,78.0,131.0
128,10002428,28662225,33987268,1,1,81,20.0,59.0,99.0,78.0,131.0

In [130]:
with open(XGB_DATA_PATH + 'data_xgb.pkl', 'rb') as f:
    dataset = pickle.load(f)
dataset.columns = [col.replace(' ', '_') for col in dataset.columns]
dataset.columns = dataset.columns.str.lower()
print(dataset.shape)
dataset.head()

(33805, 65)

,subject_id,hadm_id,stay_id,bmi,height,weight,diastolic_bp,systolic_bp,min_sodium_(serum),max_chloride_(serum),...,min_nbpm,max_nbpd,min_nbpd,output,race,gender,age,aki_1,aki_2,aki_3
0,10002155,28994087,31090461,21.4,60.0,109.4,51.0,99.0,136.0,106.0,...,76.0,25.0,64.0,3260.0,1,1,82,0,0,0
1,10002428,20321825,34807493,20.0,59.0,99.0,78.0,131.0,133.0,93.0,...,112.0,32.0,101.0,888.0,1,1,81,0,0,0
2,10002428,23473524,35479615,20.0,59.0,99.0,78.0,131.0,135.0,107.0,...,NaN,NaN,NaN,2255.0,1,1,81,0,0,0
3,10002428,28662225,33987268,20.0,59.0,99.0,78.0,131.0,133.0,98.0,...,92.0,19.0,90.0,805.0,1,1,81,1,1,0
5,10002428,28662225,38875437,20.0,59.0,99.0,78.0,131.0,144.0,110.0,...,127.0,30.0,116.0,1630.0,1,1,81,1,1,0

In [155]:
dataset_demo = dataset[['subject_id',	'hadm_id',	'stay_id', 'bmi',	'height',	'weight',	'diastolic_bp',	'systolic_bp', 'race',	'gender',	'age']]
dataset_demo['gender'] = dataset_demo['gender'].astype(int)
dataset_demo['age'] = dataset_demo['age'].astype(int)

/home/svetlanamaslenkova/anaconda_envs/aki_env/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/svetlanamaslenkova/anaconda_envs/aki_env/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [154]:
dataset_demo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33805 entries, 0 to 41469
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   subject_id    33805 non-null  int64
 1   hadm_id       33805 non-null  int64
 2   stay_id       33805 non-null  int64
 3   bmi           14263 non-null  float64
 4   height        12108 non-null  float64
 5   weight        15510 non-null  float64
 6   diastolic_bp  13847 non-null  float64
 7   systolic_bp   13847 non-null  float64
 8   race          33805 non-null  int64
 9   gender        33805 non-null  object
 10  age           33805 non-null  object
dtypes: float64(5), int64(4), object(2)
memory usage: 3.1+ MB

In [24]:
with open(DF_PATH + 'pid_train_dataset_icu.pkl', 'rb') as f:
    pid_train_dataset_icu = pickle.load(f)

with open(DF_PATH + 'pid_test_dataset_icu.pkl', 'rb') as f:
    pid_test_dataset_icu = pickle.load(f)

with open(DF_PATH + 'pid_val_dataset_icu.pkl', 'rb') as f:
    pid_val_dataset_icu = pickle.load(f)

In [25]:
stays = [*list(pid_train_dataset_icu.stay_id.unique()), *list(pid_test_dataset_icu.stay_id.unique()),*list(pid_val_dataset_icu.stay_id.unique())]

In [112]:
train_stays = pid_train_dataset_icu.stay_id.unique()
test_stays = pid_test_dataset_icu.stay_id.unique()
val_stays = pid_val_dataset_icu.stay_id.unique()

In [26]:
len(stays)

14282

# Preproccesing

## Filter Missing

### Labs

In [98]:
data_labs = data_labs[data_labs.stay_id.isin(stays)]
print(data_labs.stay_id.unique().shape[0])

14246

In [56]:
for k,v in data_labs.isna().sum().sort_values(ascending=False).iteritems():
    print(k,v)

last_ScvO2 Central Venous O2% Sat 14246
first_Vancomycin (Peak) 14246
last_Vancomycin (Peak) 14246
first_ScvO2 Central Venous O2% Sat 14246
first_Tobramycin (Peak) 14244
last_Tobramycin (Peak) 14244
last_Gentamicin (Peak) 14243
first_Gentamicin (Peak) 14243
last_Phenytoin (Free) 14237
first_Phenytoin (Free) 14237
last_AT (Antithrombin funct) 14236
first_AT (Antithrombin funct) 14236
last_Tobramycin (Trough) 14235
first_Tobramycin (Trough) 14235
last_UF Heparin (Anti-Xa) 14234
first_UF Heparin (Anti-Xa) 14234
first_Tobramycin (Random) 14233
last_Tobramycin (Random) 14233
first_Gentamicin (Random) 14231
last_Gentamicin (Random) 14231
last_Gentamicin (Trough) 14231
first_Gentamicin (Trough) 14231
last_Thrombin 14224
first_Thrombin 14224
first_Total Granulocyte Count (TGC) 14215
last_Total Granulocyte Count (TGC) 14215
first_Creatinine (whole blood) 14212
last_Creatinine (whole blood) 14212
last_Phenobarbital 14202
first_Phenobarbital 14202
last_Absolute Neutrophil Count 14201
first_Absolute Neutrophil Count 14201
first_FK506 14163
first_LDL measured 14163
last_FK506 14163
last_LDL measured 14163
last_D-Dimer 14139
first_D-Dimer 14139
first_Ammonia 14138
last_Ammonia 14138
last_Sed Rate 14133
first_Sed Rate 14133
last_Digoxin 14118
first_Digoxin 14118
first_Uric Acid 14053
last_Uric Acid 14053
first_Central Venous O2% Sat 14052
last_Central Venous O2% Sat 14052
last_Vancomycin (Random) 14049
first_Vancomycin (Random) 14049
last_Vancomycin (Trough) 14024
first_Vancomycin (Trough) 14024
last_Activated Clotting Time 13946
first_Activated Clotting Time 13946
first_Total Protein 13944
last_Total Protein 13944
first_Cortisol 13915
last_Cortisol 13915
last_PO2 (Mixed Venous) 13856
first_PO2 (Mixed Venous) 13856
first_C Reactive Protein (CRP) 13847
last_C Reactive Protein (CRP) 13847
first_Brain Natiuretic Peptide (BNP) 13834
last_Brain Natiuretic Peptide (BNP) 13834
first_Direct Bilirubin 13818
last_Direct Bilirubin 13818
first_Phenytoin (Dilantin) 13720
last_Phenytoin (Dilantin) 13720
last_Amylase 13400
first_Amylase 13400
first_Serum Osmolality 13366
last_Serum Osmolality 13366
first_CK-MB fraction (%) 13285
last_CK-MB fraction (%) 13285
first_LDL calculated 13229
last_LDL calculated 13229
last_Differential-Atyps 13223
first_Differential-Atyps 13223
last_HDL 13178
first_HDL 13178
first_Cholesterol 13166
last_Cholesterol 13166
last_Lipase 13158
first_Lipase 13158
last_Differential-Bands 13140
first_Differential-Bands 13140
first_Mixed Venous O2% Sat 13073
last_Mixed Venous O2% Sat 13073
first_Triglyceride 12841
last_Triglyceride 12841
last_Differential - Immature Granulocytes 12676
first_Differential - Immature Granulocytes 12676
first_Absolute Count - Lymphs 12276
first_Absolute Count - Eos 12276
first_Absolute Count - Basos 12276
first_Absolute Count - Monos 12276
last_Absolute Count - Eos 12276
last_Absolute Count - Lymphs 12276
first_Absolute Count - Neuts 12276
last_Absolute Count - Monos 12276
last_Absolute Count - Neuts 12276
last_Absolute Count - Basos 12276
first_Venous CO2 Pressure 12047
last_TCO2 (calc) Venous 12047
first_Venous O2 Pressure 12047
last_Venous O2 Pressure 12047
last_Venous CO2 Pressure 12047
first_TCO2 (calc) Venous 12047
last_Chloride (whole blood) 11613
first_Chloride (whole blood) 11613
first_PH (Venous) 11515
last_PH (Venous) 11515
last_Fibrinogen 11505
first_Fibrinogen 11505
first_Arterial O2 Saturation 11498
last_Arterial O2 Saturation 11498
last_Hematocrit (whole blood - calc) 11464
first_Hematocrit (whole blood - calc) 11464
first_Sodium (whole blood) 11290
last_Sodium (whole blood) 11290
last_Specific Gravity (urine) 11055
first_Specific Gravity (urine) 11055
first_PH (dipstick) 10839
last_PH (dipstick) 10839
first_Potassium (whole blood) 10700
last_Potassium (whole blood) 10700
first_CK-MB 10635
last_CK-MB 10635
last_CK (CPK) 10539
first_CK (CPK) 10539
last_Glucose (whole blood) 10520
first_Glucose (whole blood) 10520
first_LDH 10447
last_LDH 10447
last_Albumin 10290
first_Albumin 10290
last_Troponin-T 10163
first_Troponin-T 10163
last_Differential-Neuts 9512
first_Differential-Monos 9512
first_Differential-Eos 9512
last_Differential-Monos 9512
first_Differential-Basos 9512
last_Differential-Basos 9512
last_Differential-Eos 9512
first_Differential-Neuts 9512
first_Differential-Lymphs 9511
last_Differential-Lymphs 9511
first_Ionized Calcium 8581
last_Ionized Calcium 8581
last_Alkaline Phosphate 8417
first_Alkaline Phosphate 8417
first_Total Bilirubin 8393
last_Total Bilirubin 8393
last_AST 8303
first_AST 8303
last_ALT 8300
first_ALT 8300
first_Arterial Base Excess 7552
last_Arterial Base Excess 7552
first_TCO2 (calc) Arterial 7551
first_Arterial CO2 Pressure 7551
last_Arterial CO2 Pressure 7551
first_Arterial O2 pressure 7551
last_Arterial O2 pressure 7551
last_TCO2 (calc) Arterial 7551
first_PH (Arterial) 7511
last_PH (Arterial) 7511
last_Lactic Acid 6633
first_Lactic Acid 6633
last_Glucose finger stick (range 70-100) 4217
first_Glucose finger stick (range 70-100) 4217
first_PTT 2288
last_PTT 2288
first_Prothrombin time 2223
last_Prothrombin time 2223
first_INR 2222
last_INR 2222
first_Calcium non-ionized 1184
last_Calcium non-ionized 1184
first_Phosphorous 1163
last_Phosphorous 1163
last_Magnesium 644
first_Magnesium 644
last_WBC 232
first_WBC 232
first_Hemoglobin 230
last_Hemoglobin 230
first_Platelet Count 226
last_Platelet Count 226
last_Glucose (serum) 213
first_Glucose (serum) 213
first_Hematocrit (serum) 207
last_Hematocrit (serum) 207
last_Anion gap 181
first_Anion gap 181
first_Potassium (serum) 165
last_Potassium (serum) 165
first_BUN 162
last_BUN 162
first_HCO3 (serum) 162
last_HCO3 (serum) 162
first_Sodium (serum) 158
last_Sodium (serum) 158
last_Chloride (serum) 157
first_Chloride (serum) 157
first_Creatinine (serum) 155
last_Creatinine (serum) 155
hadm_id 0
icu_day_id 0
stay_id 0
subject_id 0

In [99]:
cols_to_drop_labs = data_labs.isna().sum().sort_values(ascending=False).index[:119]
data_labs = data_labs.drop(columns=cols_to_drop_labs)

In [144]:
data_labs.columns

Index(['subject_id', 'hadm_id', 'stay_id', 'icu_day_id', 'first_ALT',
       'first_AST', 'first_Albumin', 'first_Alkaline Phosphate',
       'first_Anion gap', 'first_Arterial Base Excess',
       'first_Arterial CO2 Pressure', 'first_Arterial O2 pressure',
       'first_BUN', 'first_CK (CPK)', 'first_CK-MB',
       'first_Calcium non-ionized', 'first_Chloride (serum)',
       'first_Creatinine (serum)', 'first_Differential-Basos',
       'first_Differential-Eos', 'first_Differential-Lymphs',
       'first_Differential-Monos', 'first_Differential-Neuts',
       'first_Glucose (serum)', 'first_Glucose (whole blood)',
       'first_Glucose finger stick (range 70-100)', 'first_HCO3 (serum)',
       'first_Hematocrit (serum)', 'first_Hemoglobin', 'first_INR',
       'first_Ionized Calcium', 'first_LDH', 'first_Lactic Acid',
       'first_Magnesium', 'first_PH (Arterial)', 'first_PH (dipstick)',
       'first_PTT', 'first_Phosphorous', 'first_Platelet Count',
       'first_Potassium (serum)', 'first_Potassium (whole blood)',
       'first_Prothrombin time', 'first_Sodium (serum)',
       'first_Specific Gravity (urine)', 'first_TCO2 (calc) Arterial',
       'first_Total Bilirubin', 'first_Troponin-T', 'first_WBC', 'last_ALT',
       'last_AST', 'last_Albumin', 'last_Alkaline Phosphate', 'last_Anion gap',
       'last_Arterial Base Excess', 'last_Arterial CO2 Pressure',
       'last_Arterial O2 pressure', 'last_BUN', 'last_CK (CPK)', 'last_CK-MB',
       'last_Calcium non-ionized', 'last_Chloride (serum)',
       'last_Creatinine (serum)', 'last_Differential-Basos',
       'last_Differential-Eos', 'last_Differential-Lymphs',
       'last_Differential-Monos', 'last_Differential-Neuts',
       'last_Glucose (serum)', 'last_Glucose (whole blood)',
       'last_Glucose finger stick (range 70-100)', 'last_HCO3 (serum)',
       'last_Hematocrit (serum)', 'last_Hemoglobin', 'last_INR',
       'last_Ionized Calcium', 'last_LDH', 'last_Lactic Acid',
       'last_Magnesium', 'last_PH (Arterial)', 'last_PH (dipstick)',
       'last_PTT', 'last_Phosphorous', 'last_Platelet Count',
       'last_Potassium (serum)', 'last_Potassium (whole blood)',
       'last_Prothrombin time', 'last_Sodium (serum)',
       'last_Sodium (whole blood)', 'last_Specific Gravity (urine)',
       'last_TCO2 (calc) Arterial', 'last_Total Bilirubin', 'last_Troponin-T',
       'last_WBC'],
      dtype='object')

In [145]:
data_labs_columns = list(data_labs.drop(columns=['subject_id', 'hadm_id', 'stay_id', 'icu_day_id']).columns)

### Vitals

In [101]:
data_vitals = data_vitals[data_vitals.stay_id.isin(stays)]
print(data_vitals.stay_id.unique().shape[0])

14256

In [102]:
for k,v in data_vitals.isna().sum().sort_values(ascending=False).iteritems():
    print(k,v)

max_GlucoseScore_ApacheIV 14256
last_Glucose_ApacheIV 14256
max_Glucose_ApacheIV 14256
first_Glucose_ApacheIV 14256
first_GlucoseScore_ApacheIV 14256
median_Glucose_ApacheIV 14256
median_GlucoseScore_ApacheIV 14256
min_GlucoseScore_ApacheIV 14256
min_Glucose_ApacheIV 14256
last_GlucoseScore_ApacheIV 14256
last_Rest HR - Aerobic Capacity 14253
first_Rest HR - Aerobic Capacity 14253
max_Rest HR - Aerobic Capacity 14253
median_Rest HR - Aerobic Capacity 14253
min_Rest HR - Aerobic Capacity 14253
median_rhr aar 14250
first_rhr aar 14250
max_rhr aar 14250
min_rhr aar 14250
last_rhr aar 14250
min_ohr standing 14230
min_obps standing 14230
median_ohr standing 14230
median_obps standing 14230
max_obps standing 14230
last_ohr standing 14230
last_obps standing 14230
max_ohr standing 14230
first_ohr standing 14230
first_obps standing 14230
median_ohr lying 14227
first_ohr sitting 14227
median_ohr sitting 14227
first_ohr lying 14227
last_ohr sitting 14227
min_ohr lying 14227
max_ohr sitting 14227
max_ohr lying 14227
min_ohr sitting 14227
last_ohr lying 14227
first_obpd lying 14226
median_obpd lying 14226
first_obps lying 14226
last_obps sitting 14226
last_obps lying 14226
last_obpd lying 14226
max_obps sitting 14226
max_obps lying 14226
max_obpd lying 14226
min_obpd lying 14226
median_obps lying 14226
first_obps sitting 14226
median_obps sitting 14226
min_obps sitting 14226
min_obps lying 14226
max_Pulsus Paradoxus 14189
median_Pulsus Paradoxus 14189
last_Pulsus Paradoxus 14189
min_Pulsus Paradoxus 14189
first_Pulsus Paradoxus 14189
max_QTc 14178
last_QTc 14178
min_QTc 14178
first_QTc 14178
median_QTc 14178
max_Manual BPd R 14142
min_Manual BPd R 14142
median_Manual BPd R 14142
first_Manual BPd R 14142
last_Manual BPd R 14142
first_Manual BPd L 14135
min_Manual BPd L 14135
max_Manual BPd L 14135
last_Manual BPd L 14135
median_Manual BPd L 14135
max_Manual BPs R 14132
first_Manual BPs R 14132
min_Manual BPs R 14132
last_Manual BPs R 14132
median_Manual BPs R 14132
min_Manual BPs L 14128
median_Manual BPs L 14128
first_Manual BPs L 14128
last_Manual BPs L 14128
max_Manual BPs L 14128
median_Blood Temp CCO (C) 13659
max_Blood Temp CCO (C) 13659
last_Blood Temp CCO (C) 13659
min_Blood Temp CCO (C) 13659
first_Blood Temp CCO (C) 13659
min_ART BP Diastolic 13335
last_ART BP Diastolic 13335
first_ART BP Diastolic 13335
median_ART BP Diastolic 13335
max_ART BP Diastolic 13335
median_ART BP Systolic 13334
first_ART BP Systolic 13334
min_ART BP Systolic 13334
max_ART BP Systolic 13334
last_ART BP Systolic 13334
median_ART BP Mean 13322
last_ART BP Mean 13322
max_ART BP Mean 13322
min_ART BP Mean 13322
first_ART BP Mean 13322
last_Temperature C 13249
first_Temperature C 13249
max_Temperature C 13249
median_Temperature C 13249
min_Temperature C 13249
median_EtCO2 12954
last_EtCO2 12954
min_EtCO2 12954
max_EtCO2 12954
first_EtCO2 12954
last_ABPs 8563
max_ABPs 8563
first_ABPs 8563
median_ABPs 8563
min_ABPs 8563
first_ABPd 8560
median_ABPd 8560
min_ABPd 8560
max_ABPd 8560
last_ABPd 8560
median_ABPm 8515
min_ABPm 8515
last_ABPm 8515
max_ABPm 8515
first_ABPm 8515
median_NBPm 1439
max_NBPm 1439
first_NBPm 1439
min_NBPm 1439
last_NBPm 1439
first_NBPd 1438
max_NBPd 1438
min_NBPd 1438
last_NBPd 1438
median_NBPd 1438
first_NBPs 1436
min_NBPs 1436
median_NBPs 1436
last_NBPs 1436
max_NBPs 1436
max_Temperature F 973
last_Temperature F 973
min_Temperature F 973
first_Temperature F 973
median_Temperature F 973
max_HR Alarm - High 28
median_HR Alarm - Low 28
first_HR Alarm - High 28
first_HR Alarm - Low 28
min_HR Alarm - Low 28
min_HR Alarm - High 28
max_HR Alarm - Low 28
last_HR Alarm - High 28
last_HR Alarm - Low 28
median_HR Alarm - High 28
stay_id 0
icu_day_id 0
median_HR 0
last_HR 0
hadm_id 0
min_HR 0
first_HR 0
max_HR 0
subject_id 0

In [103]:
cols_to_drop_vitals = data_vitals.isna().sum().sort_values(ascending=False).index[:130]
data_vitals = data_vitals.drop(columns=cols_to_drop_vitals)

In [142]:
data_vitals.columns

Index(['subject_id', 'hadm_id', 'stay_id', 'icu_day_id', 'first_HR',
       'first_HR Alarm - High', 'first_HR Alarm - Low', 'first_NBPd',
       'first_NBPm', 'first_NBPs', 'first_Temperature F', 'last_HR',
       'last_HR Alarm - High', 'last_HR Alarm - Low', 'last_NBPd', 'last_NBPm',
       'last_NBPs', 'last_Temperature F', 'median_HR',
       'median_HR Alarm - High', 'median_HR Alarm - Low', 'median_NBPd',
       'median_NBPm', 'median_NBPs', 'median_Temperature F', 'min_HR',
       'min_HR Alarm - High', 'min_HR Alarm - Low', 'min_NBPd', 'min_NBPm',
       'min_NBPs', 'min_Temperature F', 'max_HR', 'max_HR Alarm - High',
       'max_HR Alarm - Low', 'max_NBPd', 'max_NBPm', 'max_NBPs',
       'max_Temperature F'],
      dtype='object')

In [143]:
data_vitals_columns = list(data_vitals.drop(columns=['subject_id', 'hadm_id', 'stay_id', 'icu_day_id']).columns)

### Medications

In [63]:
data_medications = data_medications[data_medications.stay_id.isin(stays)]
print(data_medications.stay_id.unique().shape[0])

14282

In [70]:
data_medications

        stay_id  M01  B01  C03  C02
2      31090461    0    1    0    0
3      32610785    0    0    0    0
5      35479615    0    1    0    0
6      33987268    0    1    0    0
7      38875437    0    0    0    0
...         ...  ...  ...  ...  ...
36900  37403074    0    0    0    0
36901  31417783    0    1    1    1
36903  31144045    0    1    1    0
36906  30143796    0    0    0    0
36908  37364566    0    0    0    0

[14282 rows x 5 columns]

In [79]:
data_medications_columns = list(data_medications.drop(columns='stay_id').columns)

### Demographics

In [118]:
data_labs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14246 entries, 9 to 75387
Data columns (total 93 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   subject_id                                 14246 non-null  uint64
 1   hadm_id                                    14246 non-null  uint64
 2   stay_id                                    14246 non-null  int64
 3   icu_day_id                                 14246 non-null  int64
 4   first_ALT                                  5946 non-null   float64
 5   first_AST                                  5943 non-null   float64
 6   first_Albumin                              3956 non-null   float64
 7   first_Alkaline Phosphate                   5829 non-null   float64
 8   first_Anion gap                            14065 non-null  float64
 9   first_Arterial Base Excess                 6694 non-null   float64
 10  first_Arterial CO2 Pressure                6695 non-null   float64
 11  first_Arterial O2 pressure                 6695 non-null   float64
 12  first_BUN                                  14084 non-null  float64
 13  first_CK (CPK)                             3707 non-null   float64
 14  first_CK-MB                                3611 non-null   float64
 15  first_Calcium non-ionized                  13062 non-null  float64
 16  first_Chloride (serum)                     14089 non-null  float64
 17  first_Creatinine (serum)                   14091 non-null  float64
 18  first_Differential-Basos                   4734 non-null   float64
 19  first_Differential-Eos                     4734 non-null   float64
 20  first_Differential-Lymphs                  4735 non-null   float64
 21  first_Differential-Monos                   4734 non-null   float64
 22  first_Differential-Neuts                   4734 non-null   float64
 23  first_Glucose (serum)                      14033 non-null  float64
 24  first_Glucose (whole blood)                3726 non-null   float64
 25  first_Glucose finger stick (range 70-100)  10029 non-null  float64
 26  first_HCO3 (serum)                         14084 non-null  float64
 27  first_Hematocrit (serum)                   14039 non-null  float64
 28  first_Hemoglobin                           14016 non-null  float64
 29  first_INR                                  12024 non-null  float64
 30  first_Ionized Calcium                      5665 non-null   float64
 31  first_LDH                                  3799 non-null   float64
 32  first_Lactic Acid                          7613 non-null   float64
 33  first_Magnesium                            13602 non-null  float64
 34  first_PH (Arterial)                        6735 non-null   float64
 35  first_PH (dipstick)                        3407 non-null   float64
 36  first_PTT                                  11958 non-null  float64
 37  first_Phosphorous                          13083 non-null  float64
 38  first_Platelet Count                       14020 non-null  float64
 39  first_Potassium (serum)                    14081 non-null  float64
 40  first_Potassium (whole blood)              3546 non-null   float64
 41  first_Prothrombin time                     12023 non-null  float64
 42  first_Sodium (serum)                       14088 non-null  float64
 43  first_Specific Gravity (urine)             3191 non-null   float64
 44  first_TCO2 (calc) Arterial                 6695 non-null   float64
 45  first_Total Bilirubin                      5853 non-null   float64
 46  first_Troponin-T                           4083 non-null   float64
 47  first_WBC                                  14014 non-null  float64
 48  last_ALT                                   5946 non-null   float64
 49  last_AST                                   5943 non-null   float64
 50  last_Albumin                               3956 non-null   float64
 51  last_Alkaline Phosphate                    5829 non-null   float64
 52  last_Anion gap                             14065 non-null  float64
 53  last_Arterial Base Excess                  6694 non-null   float64
 54  last_Arterial CO2 Pressure                 6695 non-null   float64
 55  last_Arterial O2 pressure                  6695 non-null   float64
 56  last_BUN                                   14084 non-null  float64
 57  last_CK (CPK)                              3707 non-null   float64
 58  last_CK-MB                                 3611 non-null   float64
 59  last_Calcium non-ionized                   13062 non-null  float64
 60  last_Chloride (serum)                      14089 non-null  float64
 61  last_Creatinine (serum)                    14091 non-null  float64
 62  last_Differential-Basos                    4734 non-null   float64
 63  last_Differential-Eos                      4734 non-null   float64
 64  last_Differential-Lymphs                   4735 non-null   float64
 65  last_Differential-Monos                    4734 non-null   float64
 66  last_Differential-Neuts                    4734 non-null   float64
 67  last_Glucose (serum)                       14033 non-null  float64
 68  last_Glucose (whole blood)                 3726 non-null   float64
 69  last_Glucose finger stick (range 70-100)   10029 non-null  float64
 70  last_HCO3 (serum)                          14084 non-null  float64
 71  last_Hematocrit (serum)                    14039 non-null  float64
 72  last_Hemoglobin                            14016 non-null  float64
 73  last_INR                                   12024 non-null  float64
 74  last_Ionized Calcium                       5665 non-null   float64
 75  last_LDH                                   3799 non-null   float64
 76  last_Lactic Acid                           7613 non-null   float64
 77  last_Magnesium                             13602 non-null  float64
 78  last_PH (Arterial)                         6735 non-null   float64
 79  last_PH (dipstick)                         3407 non-null   float64
 80  last_PTT                                   11958 non-null  float64
 81  last_Phosphorous                           13083 non-null  float64
 82  last_Platelet Count                        14020 non-null  float64
 83  last_Potassium (serum)                     14081 non-null  float64
 84  last_Potassium (whole blood)               3546 non-null   float64
 85  last_Prothrombin time                      12023 non-null  float64
 86  last_Sodium (serum)                        14088 non-null  float64
 87  last_Sodium (whole blood)                  2956 non-null   float64
 88  last_Specific Gravity (urine)              3191 non-null   float64
 89  last_TCO2 (calc) Arterial                  6695 non-null   float64
 90  last_Total Bilirubin                       5853 non-null   float64
 91  last_Troponin-T                            4083 non-null   float64
 92  last_WBC                                   14014 non-null  float64
dtypes: float64(89), int64(2), uint64(2)
memory usage: 10.2 MB

In [137]:
data_demographics = dataset_demo[dataset_demo.stay_id.isin(stays)].drop_duplicates()

In [129]:
data_demographics.isna().sum()

subject_id          0
hadm_id             0
stay_id             0
race                0
gender              0
age                 0
BMI             10464
Height          10944
Weight          10160
diastolic_bp    10233
systolic_bp     10233
dtype: int64

In [149]:
dataset_demo_cols = list(dataset_demo.drop(columns=['subject_id', 'hadm_id', 'stay_id']).columns)

### Merge data

In [156]:
data = dataset_demo.merge(data_labs, on='stay_id', how='right').merge(data_vitals, on='stay_id', how='outer').merge(data_outputs, on=['stay_id', 'hadm_id'],how='outer').merge(data_medications, on='stay_id', how='left')

/home/svetlanamaslenkova/anaconda_envs/aki_env/lib/python3.7/site-packages/pandas/core/frame.py:9203: FutureWarning: Passing 'suffixes' which cause duplicate columns {'subject_id_x'} in the result is deprecated and will raise a MergeError in a future version.
  validate=validate,

In [157]:
train_data = data[data.stay_id.isin(train_stays)]
test_data = data[data.stay_id.isin(test_stays)]
val_data = data[data.stay_id.isin(val_stays)]

# Missing value inputation

In [158]:
def impute_missing(data, columns_to_norm):
    df = data.copy()
    for column in columns_to_norm:
        try:
            df[column] = df[column].fillna(np.round(df[column].mean(), 2))
        except:
            print(column)
            raise

    return df

In [148]:
data_labs_columns

Index(['first_ALT', 'first_AST', 'first_Albumin', 'first_Alkaline Phosphate',
       'first_Anion gap', 'first_Arterial Base Excess',
       'first_Arterial CO2 Pressure', 'first_Arterial O2 pressure',
       'first_BUN', 'first_CK (CPK)', 'first_CK-MB',
       'first_Calcium non-ionized', 'first_Chloride (serum)',
       'first_Creatinine (serum)', 'first_Differential-Basos',
       'first_Differential-Eos', 'first_Differential-Lymphs',
       'first_Differential-Monos', 'first_Differential-Neuts',
       'first_Glucose (serum)', 'first_Glucose (whole blood)',
       'first_Glucose finger stick (range 70-100)', 'first_HCO3 (serum)',
       'first_Hematocrit (serum)', 'first_Hemoglobin', 'first_INR',
       'first_Ionized Calcium', 'first_LDH', 'first_Lactic Acid',
       'first_Magnesium', 'first_PH (Arterial)', 'first_PH (dipstick)',
       'first_PTT', 'first_Phosphorous', 'first_Platelet Count',
       'first_Potassium (serum)', 'first_Potassium (whole blood)',
       'first_Prothrombin time', 'first_Sodium (serum)',
       'first_Specific Gravity (urine)', 'first_TCO2 (calc) Arterial',
       'first_Total Bilirubin', 'first_Troponin-T', 'first_WBC', 'last_ALT',
       'last_AST', 'last_Albumin', 'last_Alkaline Phosphate', 'last_Anion gap',
       'last_Arterial Base Excess', 'last_Arterial CO2 Pressure',
       'last_Arterial O2 pressure', 'last_BUN', 'last_CK (CPK)', 'last_CK-MB',
       'last_Calcium non-ionized', 'last_Chloride (serum)',
       'last_Creatinine (serum)', 'last_Differential-Basos',
       'last_Differential-Eos', 'last_Differential-Lymphs',
       'last_Differential-Monos', 'last_Differential-Neuts',
       'last_Glucose (serum)', 'last_Glucose (whole blood)',
       'last_Glucose finger stick (range 70-100)', 'last_HCO3 (serum)',
       'last_Hematocrit (serum)', 'last_Hemoglobin', 'last_INR',
       'last_Ionized Calcium', 'last_LDH', 'last_Lactic Acid',
       'last_Magnesium', 'last_PH (Arterial)', 'last_PH (dipstick)',
       'last_PTT', 'last_Phosphorous', 'last_Platelet Count',
       'last_Potassium (serum)', 'last_Potassium (whole blood)',
       'last_Prothrombin time', 'last_Sodium (serum)',
       'last_Sodium (whole blood)', 'last_Specific Gravity (urine)',
       'last_TCO2 (calc) Arterial', 'last_Total Bilirubin', 'last_Troponin-T',
       'last_WBC'],
      dtype='object')

In [159]:
train_data = impute_missing(train_data, [*data_vitals_columns, *data_labs_columns, *['output'], *dataset_demo_cols])
val_data = impute_missing(val_data, [*data_vitals_columns, *data_labs_columns, *['output'], *dataset_demo_cols])
test_data = impute_missing(test_data, [*data_vitals_columns, *data_labs_columns, *['output'], *dataset_demo_cols])

In [151]:
[*data_vitals_columns, *data_labs_columns, *['output'], *dataset_demo_cols]

['first_HR',
 'first_HR Alarm - High',
 'first_HR Alarm - Low',
 'first_NBPd',
 'first_NBPm',
 'first_NBPs',
 'first_Temperature F',
 'last_HR',
 'last_HR Alarm - High',
 'last_HR Alarm - Low',
 'last_NBPd',
 'last_NBPm',
 'last_NBPs',
 'last_Temperature F',
 'median_HR',
 'median_HR Alarm - High',
 'median_HR Alarm - Low',
 'median_NBPd',
 'median_NBPm',
 'median_NBPs',
 'median_Temperature F',
 'min_HR',
 'min_HR Alarm - High',
 'min_HR Alarm - Low',
 'min_NBPd',
 'min_NBPm',
 'min_NBPs',
 'min_Temperature F',
 'max_HR',
 'max_HR Alarm - High',
 'max_HR Alarm - Low',
 'max_NBPd',
 'max_NBPm',
 'max_NBPs',
 'max_Temperature F',
 'first_ALT',
 'first_AST',
 'first_Albumin',
 'first_Alkaline Phosphate',
 'first_Anion gap',
 'first_Arterial Base Excess',
 'first_Arterial CO2 Pressure',
 'first_Arterial O2 pressure',
 'first_BUN',
 'first_CK (CPK)',
 'first_CK-MB',
 'first_Calcium non-ionized',
 'first_Chloride (serum)',
 'first_Creatinine (serum)',
 'first_Differential-Basos',
 'first_Differential-Eos',
 'first_Differential-Lymphs',
 'first_Differential-Monos',
 'first_Differential-Neuts',
 'first_Glucose (serum)',
 'first_Glucose (whole blood)',
 'first_Glucose finger stick (range 70-100)',
 'first_HCO3 (serum)',
 'first_Hematocrit (serum)',
 'first_Hemoglobin',
 'first_INR',
 'first_Ionized Calcium',
 'first_LDH',
 'first_Lactic Acid',
 'first_Magnesium',
 'first_PH (Arterial)',
 'first_PH (dipstick)',
 'first_PTT',
 'first_Phosphorous',
 'first_Platelet Count',
 'first_Potassium (serum)',
 'first_Potassium (whole blood)',
 'first_Prothrombin time',
 'first_Sodium (serum)',
 'first_Specific Gravity (urine)',
 'first_TCO2 (calc) Arterial',
 'first_Total Bilirubin',
 'first_Troponin-T',
 'first_WBC',
 'last_ALT',
 'last_AST',
 'last_Albumin',
 'last_Alkaline Phosphate',
 'last_Anion gap',
 'last_Arterial Base Excess',
 'last_Arterial CO2 Pressure',
 'last_Arterial O2 pressure',
 'last_BUN',
 'last_CK (CPK)',
 'last_CK-MB',
 'last_Calcium non-ionized',
 'last_Chloride (serum)',
 'last_Creatinine (serum)',
 'last_Differential-Basos',
 'last_Differential-Eos',
 'last_Differential-Lymphs',
 'last_Differential-Monos',
 'last_Differential-Neuts',
 'last_Glucose (serum)',
 'last_Glucose (whole blood)',
 'last_Glucose finger stick (range 70-100)',
 'last_HCO3 (serum)',
 'last_Hematocrit (serum)',
 'last_Hemoglobin',
 'last_INR',
 'last_Ionized Calcium',
 'last_LDH',
 'last_Lactic Acid',
 'last_Magnesium',
 'last_PH (Arterial)',
 'last_PH (dipstick)',
 'last_PTT',
 'last_Phosphorous',
 'last_Platelet Count',
 'last_Potassium (serum)',
 'last_Potassium (whole blood)',
 'last_Prothrombin time',
 'last_Sodium (serum)',
 'last_Sodium (whole blood)',
 'last_Specific Gravity (urine)',
 'last_TCO2 (calc) Arterial',
 'last_Total Bilirubin',
 'last_Troponin-T',
 'last_WBC',
 'output',
 'bmi',
 'height',
 'weight',
 'diastolic_bp',
 'systolic_bp',
 'race',
 'gender',
 'age']